---
import Icons8 from "@icons/icons8/Icons8.astro";
import type { Experience } from "./Experience";

interface Props extends Experience {}
const { icon, link, company, position, project, date, location, description } =
  Astro.props;
---

<article class="work-exp-card">
  <span class="company-icons">
    <Icons8 iconName={icon[0]} link={link} site={company} />
    <Icons8 iconName={icon[1]} link={link} site={company} />
  </span>
  <span class="company"><a href={link}>{company}</a></span>
  <span class="position">{position}</span>
  <span class="project">{project}</span>
  <span class="date">{date}</span>
  <span class="location">{location}</span>
  <span class="description">{description}</span>
</article>
