---
interface Props {
  id: string;
  items: { [key: string]: { [key: string]: number } };
}
const graphdata: Props = Astro.props;
---

<section class={`${graphdata.id}-graph`}>
  {Object.entries(graphdata.items).map(([area, items]) => (
    <>
      <h5>{area}</h5>
      {Object.entries(items).map(([item, strength]) => (
        <span class="primary label radius">{item} ({strength}/100)</span>
        <div class="radius progress success">
          <span class="progress-meter" style={`width: ${strength}%`}></span>
        </div>
      ))}
    </>
  ))}
</section>