---
import SkillDomain from "./SkillDomain.astro";
import Icons8 from "../../icons/icons8/Icons8.astro";
import HorizontalRule from "../Html/HorizontalRule.astro";
import type { HyperIcon, ProfileIcon } from "./HyperIcon";

import "./expertise.scss";
import profilesYaml from "./dev-profiles.yml";
const profiles = profilesYaml as ProfileIcon[];
import domainsYaml from "./dev-skills.yml";
const domains = domainsYaml as Record<string, HyperIcon[]>;
---

<main class="code view">
  <section class="skills-intro">
    <h4>Skills and Experience</h4>
    <p>
      An overview of my software development skills. My development portfolio
      has code samples.
    </p>
    <div class="dev-profiles">
      {
        profiles.map((icon) => (
          <Icons8 iconName={icon.icon} link={icon.profile} site={icon.name} />
        ))
      }
    </div>
  </section>
  <HorizontalRule />
  <section class="skills-categories">
    {
      Object.entries(domains).map(([title, skills]) => (
        <SkillDomain title={title} skills={skills} />
      ))
    }
  </section>
  <!-- <section class="certifications"></section> -->
</main>
