---
import Icons8 from "../../icons/icons8/Icons8.astro";
import type { Interest } from "./Interest";

interface Props extends Interest {}
const { title, excerpt, icons } = Astro.props;
---

<article class="interest-card">
  <h4>{title}</h4>
  <p>{excerpt}</p>
  <div class="interest-icons">
    {
      Object.entries(icons).map(([key, icon]) => (
        <Icons8 iconName={icon.icon} link={icon.profile} site={key} />
      ))
    }
  </div>
</article>
