---
import Icons8 from "../../icons/icons8/Icons8.astro";
import type { Project } from "./Project";

const project = Astro.props as Project;
---

<article class="project-card">
  <div class="project-grid">
    <Icons8
      iconName="dusk/400/total-sales"
      link={project.url}
      site={project.name}
    />
    <span class="project-url">{project.name}</span>
    <span class="synopsis">{project.synopsis}</span>
    <span class="tech">{project.tech}</span>
    <span class="year">{project.year}</span>
  </div>
</article>
